body {
    background-color: #ffffff; 
    color: #1a1a1a; 
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333; 
    padding: 10px 0;
}

.info-container {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container-no-margin {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dark-mode-toggle {
    cursor: pointer;
}

.dark-mode {
    background-color: #1a1a1a; 
    color: #fff; 
}


#copyButton {
    position: absolute;
    top: 42px;
    right: 0px;
    z-index: 1;
    display: none;
}

pre {
    position: relative;
}

.code-box-left {
    position: relative;
    margin-right: 30px;
}

.code-box-right {
    position: relative;
    margin-left: 30px;
}

.code-box-left:hover #copyButton {
    display: block;
}

.code-box-right:hover #copyButton {
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

.icon {
    width: 22px;
    height: 22px;
    filter: invert(90%);
}

#code-snippet {
    min-width: 400px;
}

.navbar .navbar-nav .nav-link {
    font-size: 24px;
    margin-right: 16px;
    padding-top: 20px;
}
